# CircleCI configuration file

version: 2.1
jobs:
  build:
    docker:
      - image: cimg/base:2023.07
    steps:
      - checkout
      - run:
          name: Build Docker image
          command: |
            docker build -t oc_lettings_site:${COMMIT_HASH} .
