# CircleCI configuration file

version: 2.1
jobs:
  build:
    machine:
      image: ubuntu-2004:2022.07.1
    steps:
      - checkout
      - run: docker build -t oc-lettings-site:${CIRCLE_SHA1} .
      - run: docker login -u $DOCKERHUB_USERNAME -p $DOCKERHUB_PASSWORD
      - run: docker tag oc-lettings-site:${CIRCLE_SHA1} $DOCKERHUB_USERNAME/oc-lettings-site:${CIRCLE_SHA1}
      - run: docker push $DOCKERHUB_USERNAME/oc-lettings-site:${CIRCLE_SHA1}
  deploy:
    machine:
      image: ubuntu-2004:2022.07.1
    steps:
      - checkout
      # install dependecies to deploy scripts
      - run: sudo apt install python3
      - run: pip3 install requests

      # Deploy to Heroku and migrate
      - run:
          name: Deploy to Heroku and migrate
          command: |
            python3 -m deploy
      # Load dumped data
      - run:
          name: Load dumped data
          command: |
            python3 -m load_data
  test:
    machine:
      image: ubuntu-2004:2022.07.1
    steps:
      - checkout
      - run: sudo apt install python3
      - run: sudo apt install firefox
      - run: pip install --upgrade pip
      - run: pip3 install -r test_requirements.txt
      - run: python3 -m flake8
      - run: python3 -m manage test
      


workflows:
  version: 2
  test-build-deploy:
    jobs:
      - test:
          filters:
            branches:
              only:
                - master
                - develop
      - build:
          requires:
            - test
          filters:
            branches:
              only: master
      - deploy:
          requires:
            - test
          filters:
            branches:
              only: master