# CircleCI configuration file

version: 2.1
jobs:
  build:
    machine:
      image: ubuntu-2004:2022.07.1
    steps:
      - checkout
      - run: ls -la

      - run: docker build -t oc-lettings-site .
