# CircleCI configuration file

version: 2.1
jobs:
  build:
    docker:
      - image: cimg/base:2023.07
    steps:
      - checkout

      - run: sudo dockerd --host=unix:///var/run/docker.sock --host=tcp://127.0.0.1:2375 --storage-driver=overlay2 &
      - run:
          name: Build Docker image
          command: |
            docker build -t oc-lettings-site .
