# CircleCI configuration file

version: 2.1
jobs:
  build:
    docker:
      - image: cimg/base:2023.07
    steps:
      - setup_remote_docker:
          version: 20.10.7
          docker_layer_caching: true

      - run: 
          name: Start Dockerd
          command: |
            sudo dockerd --host=unix:///var/run/docker.sock --host=tcp://127.0.0.1:2375 --storage-driver=overlay2 & sleep 5

      - run:
          name: Build Docker image
          command: |
            docker build -t oc-lettings-site .
