# CircleCI configuration file

version: 2.1
jobs:
  build:
    docker:
      - image: cimg/base:2023.07
    steps:
      - checkout
    
      - run:
          name: read env
          command: |
            echo $COMMIT_HASH
